body * {
  box-sizing: border-box;
 } 

page {
  display: block;
  margin: 0;
  padding: 1em;
  background-color: #00B7C2;
  color: #ECF8F1;
  width: 100%;
  /* height: 100em; */
  text-align: center;
}

header {
   padding: 4em;
}

a {
  text-decoration: none;
  color: #ECF8F1;
  height: 100%;
  width: 100%;
  display: flex;
}


.shelf {
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
  width: 76%;
  max-width: 300px;
  border: solid 1.2em #ECF8F1;
}
.cubbie {
  width: 100%;
  height: 240px;
  border: solid .6em #ECF8F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .hidden {
   display: none;
 }

 .found {
  display: block;
  margin: 0 auto;
  background-color: #26606E;
  position: fixed;
  top: 10%;
  text-align: left;
  width: 450px;
  border: solid .8em #ECF8F1;
}








 /* //////MEDIA QUERY FOR LARGER SCREEN/////////// */ 

@media (min-width: 800px){
  .shelf {
    width: 612px;
    height: 612px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cubbie{
    border: solid 12px #ECF8F1;
   
  }
 }