/* font-family: 'Poppins', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Cardo', serif;
font-family: 'ABeeZee', sans-serif;
font-family: 'Armata', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Rubik', sans-serif; */
body * {
  box-sizing: border-box;
  border-radius: 2px;
 } 

page {
  display: block;
  margin: 0;
  padding: 1em;
  background-color: #00B7C2;
  color: #ECF8F1;
  width: 100%;
  height: 100em;
  text-align: center;


/* font-family: 'Crimson Text', serif; */
font-family: 'Halant', serif;

font-family: 'Cabin', sans-serif;
font-family: 'ABeeZee', sans-serif;

}

h1 {
  /* font-family: 'Crimson Text', serif; */
  font-size: 4em;
  margin-bottom: .5em;
  /* border-bottom: 1px solid #ECF8F1; */
}

h2 {
  /* font-family: 'Crimson Text', serif; */
  font-size: 2.5em;
  padding: 0 .5em .5em;
  margin: 0;
}

header {
   padding: 2em 0 1em;
}

a {
  text-decoration: none;
  color: #ECF8F1;
  height: 100%;
  width: 100%;
  display: flex;
}


.shelf {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  width: 76%;
  height: auto;
  max-width: 300px;
  border: solid 1.2em #ECF8F1;
  box-shadow: 1.2em 0em 2em rgba(38, 96, 110, .5);

}

.cubbie {
  width: 100%;
  height: 240px;
  border: solid .6em #ECF8F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: .9em 1.2em 1em 1em rgba(38, 96, 110, .5) inset; 
    /* -.9em -1.2em 1em rgba(38, 96, 110, .5) inset; */
 }

 .hidden {
   display: none;
 }

 .found {
  display: block;
  margin: 0, auto;
  padding: 1em 2em;
  background-color: #26606E;
  position: absolute;
  top: 30%;
  left: 9%;
  text-align: left;
  width: 82%;
  /* max-width: 800px; */
  border: solid 1.2em #ECF8F1;
  box-shadow: .9em 1.2em 1em rgba(38, 96, 110, .5);
  box-shadow: .9em 1.2em 1em rgba(38, 96, 110, .5);
}

.projects {
  display: flex;
  flex-direction: column;
  
}
img {
  height: 200px;
  width: 200px;
}







 /* ///MEDIA QUERY FOR LARGER SCREEN/////////// */ 

@media (min-width: 768px){
  .shelf {
    width: 72%;
    max-width: 612px;
    height: 36%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cubbie{
    width: 50%;
    height: 50%;
    border: solid 12px #ECF8F1;
  }

  .found{
    
  }
 }

 /* ///AND EVEN BIGGER//////////*/
 @media (min-width: 992px){

 }