/* font-family: 'Poppins', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Cardo', serif;
font-family: 'ABeeZee', sans-serif;
font-family: 'Armata', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Rubik', sans-serif; */
body * {
  box-sizing: border-box;
  border-radius: 2px;
 } 

html {
  background-color: #00B7C2;
}

page {
  display: block;
  margin: 0;
  padding: 1em;
  background-color: #00B7C2;
  color: #ECF8F1;
  width: 100%;
  height: 100em;
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
}

h1 {
  font-size: 4em;
  margin-bottom: .5em;
}

h2 {
  font-size: 2.5em;
  padding: 0 .5em .5em;
  margin: 0;
}

h4 {
  font-size: 1.7em;
  align-self: center;
}

header {
   padding: 2em 0 1em;
}

a {
  text-decoration: none;
  color: #ECF8F1;
  height: 100%;
  width: 100%;
  display: flex;
}
 a:hover, a:focus {
   color: #EBAC5C;
 }

.shelf {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  width: 76%;
  height: auto;
  max-width: 300px;
  border: solid 1.2em #ECF8F1;
  box-shadow: 1.2em 0em 2em rgba(38, 96, 110, .5);

}

.cubbie {
  width: 100%;
  height: 240px;
  border: solid .6em #ECF8F1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: .9em 1.2em 1em 1em rgba(38, 96, 110, .5) inset; 
    /* -.9em -1.2em 1em rgba(38, 96, 110, .5) inset; */
  /* z-index: 1; */
 }

 .hidden {
   display: none;
 }

.found {
  display: flex;
  flex-direction: column;
  margin: 0, auto;
  padding: 1em 1em;
  font-size: 1.5em;
  background-color: #26606E;
  position: absolute;
  top: 12em;
  left: 9%;
  text-align: left;
  width: 82%;
  border: solid 1.2em #ECF8F1;
  box-shadow: .9em 1.2em 1em rgba(28, 138, 165, 0.5);
  /* z-index: 2; */
}
/* 
p {
  display: block;
  width: 100%;
} */

.projects {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column; 
}

img {
  width: 100%;
  /* margin: 1em; */
}

.img-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* height: 200px; */
  width: 90%;
}

.project-title{
  color: #FFDE32;
}

.collaborators {
  display: flex;
  flex-direction: column;
}

.collaborators a {
  padding-left: 1em;
}

.repos {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

a[name]{
  color:  #26606E;
  background-color: #ECF8F1; 
  height: 50%;
  width: 50%;
  box-shadow: 1.2em -.2em 1em rgba(38, 96, 110, .5);
  /* box-shadow: 1.2em 0 1em rgba(28, 138, 165, 0.5); */
  /* z-index:0; */
}

/* a[name]:hover {
  background-color: #EBAC5C;
} */

a[name='about-me'] {
  display: flex;
  align-self: flex-end;
  margin-right: 2em;
  padding-left: .5em;
  padding-top: .3em;
  border-radius: 50%;
  /* box-shadow: 1em 0 1em rgba(38, 96, 110, .5); */
  /* box-shadow: 1.2em 0 1em rgba(28, 138, 165, 0.5); */
}

a[name='projects'] {
  display: flex;
  align-self: flex-start;
  margin-left: 2em;
  padding-left: .3em;
  height: 70%;
  width: 40%;

}

a[name='contact'] {
  display: flex;
  align-self: flex-start;
  margin-left: 3em;
  padding-left: .5em;
}

a[name='resume'] {
  display: flex;
  align-self: flex-end;
  margin-right: 2.5em;
  margin-bottom: -.8em;
  background-color: transparent;

  border-top: 130px solid  #ECF8F1;
  border-left: 130px solid transparent;
  border-right: 2px solid  #ECF8F1;

  transform-origin: right 80px; 
  transform: rotate(-45deg);  
  box-shadow: 1em -.4em 1em rgba(38, 96, 110, .5) ;
}

a[name='resume'] h3 {
  transform-origin: 130px -180px;
  transform: rotate(45deg);
  padding-left: 2.7em;
  
}  

a[name='resume']:hover {
  /* background-color: transparent; */
  border-top:  #EBAC5C;
  border-right:  #EBAC5C;
  /* border-bottom: transparent; */
  /* border-left: transparent; */
} 

/* ///////MEDIA QUERY FOR MID-SIZE SCREEN/////// */

@media (min-width: 640px){
  h4{
    align-self: flex-start;
    font-size: 2em;
  }

  .collaborators {
  flex-direction: row;
  }
}



 /* ///MEDIA QUERY FOR LARGER SCREEN/////////// */ 

@media (min-width: 768px){
  .shelf {
    width: 72%;
    max-width: 612px;
    height: 36%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cubbie{
    width: 50%;
    height: 50%;
    border: solid 12px #ECF8F1;
  }

  .found {
    padding-left: 2em;
    padding-right: 2em;
  }

  .project-links {
    display: flex;
    justify-content: space-around;
  }

  .repos {
    padding-left: 1em;
  }

}

 /* ///AND EVEN BIGGER//////////*/
 @media (min-width: 1160px){
    /* #show-projects {
      flex-direction: row;
      justify-content: space-between;
  }

  .projects {
    width: 30%;
  } */
 
    .contact{
      display: flex;
    }
} 

 
