
body * {
  box-sizing: border-box;
  border-radius: 2px;
 
 } 
body {
  
}
page {
      background-image: radial-gradient(circle farthest-corner at left,
     #00B7C2 50%,#111132 50%);
 }

html {
  background-color: #00B7C2;

}

page {
  display: block;
  margin: 0;
  padding: 1em;
  background-color: #00B7C2;
  color: #ECF8F1;
  width: 100%;
  height: 100em;
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
}

h1 {
  font-size: 4em;
  margin-bottom: .5em;
  text-shadow: .1em .1em 12px rgba(38, 96, 110, .8);
}

h2 {
  font-size: 2.5em;
  padding: 0 .5em .5em;
  margin: 0;
  text-shadow: .1em .05em 12px rgba(38, 96, 110, .7);
}

h4 {
  font-size: 1.7em;
  align-self: center;
}

header {
   padding: 2em 0 1em;
}

a {
  text-decoration: none;
  color: #ECF8F1;
  height: 100%;
  width: 100%;
  display: flex;
} 

a:hover, a:focus {
  color: #EBAC5C;
} 

.shelf {
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  width: 76%;
  height: auto;
  max-width: 300px;
  border: solid 1.2em #ECF8F1;
  box-shadow: 1.2em 0em 2em rgba(38, 96, 110, .5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
}

.cubbie {
  width: 100%;
  height: 240px;
  border: solid .6em #ECF8F1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* box-shadow: .9em 1.2em 1em 1em rgba(38, 96, 110, .5) inset;  */
  box-shadow: .9em 1.2em 1em 1em rgba(17, 17, 50, .25) inset; 
 }

 .hidden {
   display: none;
 }

.found {
  display: flex;
  flex-direction: column;
  margin: 0, auto;
  padding: 1em 1em;
  font-size: 1.5em;
  background-color: #26606E;
  position: absolute;
  top: 12em;
  left: 5%;
  text-align: left;
  width: 90%;
  border: solid 1.2em #ECF8F1;
  box-shadow: .9em 1.2em 1em rgba(28, 138, 165, 0.5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
  z-index: 20;
}

.close {
  background: transparent;
  color: #ECF8F1;
  border: none;
  font-size: 2em;
  display: flex;
  align-self: flex-end;
}

.projects {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column; 
}

img {
  width: 100%;
}

.img-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.link {
  color:#EBAC5C;
  text-decoration: none;
}
.link:visited {
  color: #C87B5B;
}

.link:hover {
  color:#FFDE32;
}

.project-title{
  color: #FFDE32;
}


/* .collaborators {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: .8em;
}

.collaborators a {
  padding-left: 1em;
} */

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links p {
  margin-bottom: .2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* 
.resume-link a {
  color: #EBAC5C;
}

.resume-link a:visited {
  color:#C87B5B;
}

.resume-link a:hover {
  color:#FFDE32;
} */

.repos {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

a[name]{
  color:  rgb(38, 96, 110);
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ECF8F1; 
  height: 52%;
  width: 52%;
  box-shadow: 1.2em -.2em 1em rgba(38, 96, 110, .5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
}

a[name]:hover {
  background-color: #EBAC5C;
}

a[name='about-me'] {
  display: flex;
  align-self: flex-end;
  margin-right: 2em;
  padding-left: .3em;
  padding-top: .5em;
  border-radius: 50%;
}

a[name='projects'] {
  display: flex;
  align-self: flex-start;
  margin-left: 2.2em;
  padding-left: .3em;
  height: 70%;
  width: 45%;
  min-width: 103px;
}

a[name='contact'] {
  display: flex;
  align-self: flex-start;
  margin-left: 3em;
  padding-left: .5em;
  height: 50%;
}

a[name='resume'] {
  display: flex;
  align-self: flex-end;
  margin-right: 2.5em;
  margin-bottom: -.8em;
  background-color: transparent;

  border-top: 130px solid  #ECF8F1;
  border-left: 130px solid transparent;
  border-right: 2px solid  #ECF8F1;

  transform-origin: right 72px; 
  transform: rotate(-45deg);  
  box-shadow: 1em -.5em 1em rgba(38, 96, 110, .5);
  box-shadow: 1.2em 0em 2em rgba(17, 17, 50, .25);
}

a[name='resume'] h3 {
  transform-origin: 140px -180px;
  transform: rotate(45deg);
  padding-left: 1.6em;
  
}  

a[name='resume']:hover {
  background-color: transparent;
  border-top-color:  #EBAC5C;
  border-right-color:  #EBAC5C;
} 



/* ///////MEDIA QUERY FOR MID-SIZE SCREEN/////// */

@media (min-width: 640px){
  h4{
    align-self: flex-start;
    font-size: 2em;
  }

  /* .collaborators {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: .8em;
  } */

}



 /* ///MEDIA QUERY FOR LARGER SCREEN/////////// */ 

@media (min-width: 768px){
  html {
  background-color: #111132;
  /* background-color: #00B7C2; */
  /* background-color: #ECF8F1; */

}
  page {
      /* margin-top: 3em; */
      /* margin-bottom: 4em; */
      margin-left: auto;
      margin-right: auto;
      background-image: 
      radial-gradient(circle farthest-corner at bottom right,#111132 50%, #00B7C2  0, transparent),
      radial-gradient(circle farthest-corner at top left 15em,#111132 45em, #00B7C2  0%);
      /* radial-gradient(farthest-corner at right bottom, #00B7C2 50%, #111132  0%); */
      max-width: 1500px;
   
 }

  .shelf {
    width: 72%;
    max-width: 612px;
    height: 36%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cubbie{
    width: 50%;
    height: 50%;
    border: solid 12px #ECF8F1;
  }

  .found {
    padding-left: 2em;
    padding-right: 2em;
    z-index: 20;
  }

  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .github-repos a:first-child {
    margin-right: 2em;
  }

  .resume-link {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

 /* ///AND EVEN BIGGER//////////*/
 @media (min-width: 1160px){
 
    .contact{
      display: flex;
    }

    .found {
      width: 70%;
      left: 15%;
    }

} 

@media (min-width: 1500px){
  page {
    box-sizing: content-box;
    margin-top: 3em;
    margin-bottom: 4em;
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: 30px solid #ECF8F1;
  }

  .found {
    top: 15em;
  }
}

 
